@import "mixins";

.header {
  padding: 0 15px;

  &__container {
    max-width: 1185px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
  }

  &__logo {
    @include flex-center;
    padding: 0px 8px 0px 0px;
  }

  &__images {
    display: flex;
    position: relative;
    @include flex-center;
    @include adaptiveFont(100, 50);
  }

  &__sub-image img {
    width: 100%;
    height: 100%;
  }

  &__sub-image {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    padding: 0px 10px 0px 0px;
  }

  &__name span {
    font-family: "Sofia";
    font-weight: 400;
    // font-size: rem(32.1);
    @include adaptiveFont(32, 16);
    line-height: rem(51);
    color: black;
    position: relative;
  }

  &__name span::before {
    // content: "";
    // position: absolute;
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 60%;
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
    // padding: 20px 0;
    top: 5%;
    // transform: translate(20px, -10px);
    transform: rotate(-5deg);
  }

  &__navigthion {
    @include flex-center;
  }

  &__silka {
    /*   background: transparent; */
    cursor: pointer;
    transition: all 0.7s ease;
    position: relative;
    display: inline-block;

    outline: none;
  }

  &__spisok {
    gap: 60px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
    // font-size: 32.1525px;
    @include adaptiveFont(32, 16);
    line-height: 38px;
    /* identical to box height */
    display: flex;
  }

  &__spisok span {
    font-family: "Raleway";
    font-style: normal;
  }

  &__end {
    margin: 0 0 0 66px;
    @include flex-center;
  }
}

/* 3 */
.header__silka {
  color: black;
  background: rgb(0, 172, 238);
  background: rgba(244, 170, 183, 0.53);
  border-radius: 20px;
  padding: 0px 10px;
  line-height: 42px;
  border: none;
}

.header__silka:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}

.header__silka:before,
.header__silka:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.header__silka:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.header__silka:hover:before,
.header__silka:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

//---------MEDIA-----------
@media (max-width: 375px) {
  .header__images {
    display: none;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .header__images {
    // display: none;
  }
  .header__name span::before {
    top: 10%;
  }
  .header__spisok {
    gap: 15px;
  }
  .header__end {
    margin: 0 0 0 43px;
    @include flex-center;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header__images {
    display: none;
  }
  .header__name span::before {
    top: 20%;
  }
  .header__spisok {
    gap: 15px;
  }
  .header__end {
    margin: 0 0 0 43px;
    @include flex-center;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .header__images {
    display: none;
  }
  .header__name span::before {
    display: none;
  }
  .header__spisok {
    gap: 15px;
  }
  .header__end {
    margin: 0 0 0 33px;
    @include flex-center;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header__images {
    display: none;
  }
  .header__spisok {
    gap: 15px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .header__images {
    display: none;
  }
  .header__spisok {
    gap: 10px;
  }
  .header__spisok li {
    @include flex-center;
  }
  .header__name span::before {
    display: none;
  }
  .header__name {
    padding: 0px 10px 0px 0px;
  }
  .header__end {
    margin: 0 0 0 15px;
    @include flex-center;
  }
  .header__silka {
    min-width: 70px;
  }
}

.btn-block {
  margin: 100px auto;
  width: 80%;
  text-align: center;
}

/* сами кнопы демо------------------------------------------------------------------------------------------------------------ */

//.btn {
//  display: inline-block;
//  margin: 5px;
//  padding: 0.5rem 1rem;
//  outline: 0px none;
//  border: medium none;
//  -webkit-border-radius: 2px;
//  -moz-border-radius: 2px;
//  border-radius: 2px;
//  background-color: #26A69A;
//  background-clip: padding-box;
//  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
//  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
//  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
//  color: #fff;
//  text-align: center;
//  text-decoration: none;
//  text-transform: uppercase;
//  letter-spacing: 0.5px;
//  font-size: .8em;
//  font-weight: 300;
//  cursor: pointer;
//  -webkit-transition: 0.2s ease-out;
//  -moz-transition: 0.2s ease-out;
//  -ms-transition: 0.2s ease-out;
//  -o-transition: 0.2s ease-out;
//  transition: 0.2s ease-out;
//}
//.btn:hover {
//  background-color: #2bbbad;
//  color: #f5f5f5;
//}
/* Стили модального окна и содержания
-------------------------------------------------------------------------------*/

/* слой затемнения */

.dm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  overflow: auto;

  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* активируем модальное окно */

.dm-overlay:target {
  display: block;
  -webkit-animation: fade .6s;
  -moz-animation: fade .6s;
  animation: fade .6s;
}

/* блочная таблица */
.textAbout {
  color: black;
  font-family: "Raleway";
  line-height: 20px;
}

.dm-table {
  display: table;
  width: 100%;
  height: 100%;
}

/* ячейка блочной таблицы */

.dm-cell {
  display: table-cell;
  padding: 0 1em;
  vertical-align: middle;
  text-align: center;

}

/* модальный блок */
.dm-modal h3 {
  color: black;
  font-size: 20px;
}

.dm-modal {
  border-radius: 20px;
  display: inline-block;
  padding: 20px;
  max-width: 50em;
  font-family: "Raleway";
  background: #c3b0b4;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  color: #cfd8dc;
  text-align: left;
}

.dm-modal li {
  color: black;
  text-align: left;
  @include flex-center-column;
  line-height: 30px;
}

.dm-modal li:first-child {
  padding: 20px 0 0 0;
  margin: 0 0 0 28px;
}

.contackt {
  color: black;
}

/* изображения в модальном окне */

.dm-modal img {
  width: 100%;
  height: auto;
}

.close {
  z-index: 9999;
  float: right;
  width: 30px;
  height: 30px;
  color: red;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
  cursor: pointer;
}

.close:after {
  display: block;
  //border: 2px solid #cfd8dc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  //border-radius: 50%;
  content: 'X';
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

/* кнопка закрытия при наведении */

.close:hover:after {
  //border-color: #fff;
  color: darkred;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
