@import "mixins";

.header {
	padding: 0 15px;
	&__container {
		max-width: 1185px;
		margin: 0 auto;
	}

	&__row {
		display: flex;
	}

	&__logo {
		@include flex-center;
		padding: 0px 8px 0px 0px;
	}

	&__images {
		display: flex;
		position: relative;
		@include flex-center;
		@include adaptiveFont(100, 50);
	}
	&__sub-image img {
		width: 100%;
		height: 100%;
	}
	&__sub-image {
		width: 100%;
		height: 100%;
		padding: 15px;
		position: absolute;
	}
	&__name {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 0 auto;
	}
	&__name span {
		font-family: "Sofia";
		font-weight: 400;
		// font-size: rem(32.1);
		@include adaptiveFont(32, 16);
		line-height: rem(51);
		color: black;
	}

	&__navigthion {
		@include flex-center;
	}
	&__silka {
		/*   background: transparent; */
		cursor: pointer;
		transition: all 0.7s ease;
		position: relative;
		display: inline-block;

		outline: none;
	}
	&__spisok {
		gap: 60px;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 100;
		// font-size: 32.1525px;
		@include adaptiveFont(32, 16);
		line-height: 38px;
		/* identical to box height */
		display: flex;
	}
	&__spisok span {
		// padding: 0px 10px 0px 10px;
	}

	&__end {
		margin: 0 0 0 66px;
		@include flex-center;
	}
}

/* 3 */
.header__silka {
	color: black;
	background: rgb(0, 172, 238);
	background: rgba(244, 170, 183, 0.53);
	border-radius: 20px;
	// width: 230px;
	// height: 40px;
	padding: 0px 10px;
	line-height: 42px;
	// padding: 0;
	border: none;
}
.header__silka:hover {
	color: #f0094a;
	background: transparent;
	box-shadow: none;
}
.header__silka:before,
.header__silka:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #f0094a;
	box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
	transition: 400ms ease all;
}
.header__silka:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.header__silka:hover:before,
.header__silka:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

//---------MEDIA-----------
@media (max-width: 375px) {
	.header__images {
		display: none;
	}
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.header__images {
		display: none;
	}
	.header__spisok {
		gap: 15px;
	}
	.header__end {
		margin: 0 0 0 43px;
		@include flex-center;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.header__images {
		display: none;
	}
	.header__spisok {
		gap: 15px;
	}
	.header__end {
		margin: 0 0 0 43px;
		@include flex-center;
	}
}
@media (min-width: 480px) and (max-width: 768px) {
	.header__images {
		display: none;
	}
	.header__spisok {
		gap: 15px;
	}
	.header__end {
		margin: 0 0 0 33px;
		@include flex-center;
	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.header__images {
		display: none;
	}
	.header__spisok {
		gap: 15px;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	.header__images {
		display: none;
	}
	.header__spisok {
		gap: 10px;
	}
	.header__spisok li {
		@include flex-center;
	}
	.header__end {
		margin: 0 0 0 33px;
		@include flex-center;
	}
}
