@import "fonts";
@import "zeroing";
@import "function";
@import "mixins";
@import "header";
@import "main";
@import "slaider";
@import "main2";
@import "main3";
@import "footer";
body,
html {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	background-color: rgba(244, 170, 183, 0.53);
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
}
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	 -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
	background-color:  rgba(244, 170, 183, 0.53);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(180deg, #edc1f3, #e959fc);
}

// //---------MEDIA-----------
// @media (max-width: 375px) {
// }

// /* Large desktops and laptops */
// @media (min-width: 1200px) {
// }

// /* Portrait tablets and medium desktops */
// @media (min-width: 992px) and (max-width: 1199px) {
// }

// /* Portrait tablets and small desktops */
// @media (min-width: 768px) and (max-width: 991px) {
// }
// @media (min-width: 480px) and (max-width: 768px) {
// }
// /* Landscape phones and portrait tablets */
// @media (max-width: 767px) {
// }

// /* Landscape phones and smaller */
// @media (max-width: 480px) {
// }
// //---------MEDIA-----------
